<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="!reformaLoading">{{reforma?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="assets/imgs/reforma.png">
  <ion-toolbar class="tabs" no-padding >
    <ion-segment [(ngModel)]="abaAtiva">
      <ion-segment-button value="detalhes">
        Detalhes
      </ion-segment-button>
      <ion-segment-button value="profissionais">
        Profissionais <ion-badge>{{reforma?.listaProfissionais.length }}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div padding *ngIf="!reformaLoading" [ngSwitch]="abaAtiva">
    <div *ngSwitchCase="'detalhes'">
      <!-- <h3>Detalhes</h3> -->
      <p *ngIf="reforma.precoTotal > 0"><ion-icon name="cash"></ion-icon> <b>{{ textos.precoHeader }}:</b> R$ {{ reforma.precoTotal }},00</p>
      <p><ion-icon name="calendar"></ion-icon> <b>Data de início:</b> {{getDate(reforma.datainicio)}}</p>
      <p><ion-icon name="hammer"></ion-icon> <b>Status:</b> <span class="status"> {{ reforma.status }} </span></p>
      <p><ion-icon name="list"></ion-icon> <b>Descrição:</b> {{reforma.descricao}}</p>
    </div>
    <div *ngSwitchCase="'profissionais'">
      <h6>{{ textos.profissionalHeader }}</h6>
      <ion-list>
        <ion-item class="item-profissional" *ngFor="let profissional of reforma.listaProfissionais">
          <ion-thumbnail item-start>
            <img src="assets/imgs/user.png">
            <span class="preco-reforma" *ngIf="profissional.preco > 0">R$ {{profissional.preco}},00</span>
          </ion-thumbnail>
          <h2>{{ profissional.nome }}
            <ion-icon name="checkmark" *ngIf="reforma.status != 'concluido' && reforma.listaProfissionaisAceitos.indexOf(profissional.id) >= 0" ></ion-icon>
          </h2>
          <p>{{ profissional.profissao }} <span *ngIf="recomendacao.indexOf(profissional.profissao) > -1" class="habilidade-label">recomendado</span></p>
          <!-- <div><p><span *ngFor="let hab of profissional.habilidades" class="habilidade-label">{{ hab }}</span></p></div> -->
          <button ion-button clear item-end (click)="abrirModalProfissional(profissional)">Ver</button>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer>
  <button ion-button full *ngIf="exibirBotao.andamento" (click)="reformaAndamento()">Iniciar reforma</button>
  <button ion-button full *ngIf="exibirBotao.concluir" (click)="reformaConcluida()">Concluir Reforma</button>
  <button ion-button full *ngIf="reforma?.status == 'concluido' && !todosAvaliados"(click)="avaliarProfissionais()">Avaliar profissionais</button>
</ion-footer>
