page-reforma-detalhes {
  img {
    width: 100%;
    height:auto;
  }
  span.status {
    background-color: color($colors, primary, base)!important;
    color:white;
    padding: 4px;
  }
  .item-profissional {
    ion-thumbnail {
      min-width: 40px;
      min-height: 40px;
    }
    img {
      width: 40px;
      height: auto;
      border-radius: 100%;
    }
    span.habilidade-label {
      padding: 1px 6px;
      border-radius: 10px;
      background-color: color($colors, primary, base);
      color: color($colors, light, base);
      font-size: 0.75em;
      text-transform: uppercase;
      margin-right: 4px;
    }
    span.preco-reforma {
      position: absolute;
      bottom: 0;
      left: 5%;
      background: #ccc;
      padding: 0.3rem 0.7rem;
      border-radius: 20px;
      font-weight: bold;
      color: white;
      font-size: 0.7em;
    }
  }
  .action-sheet-md.primaria {
      font-weight: 500;
      color: color($colors, primary, base);
  }
}
