page-reforma-detalhes {
  img {
    width: 100%;
    height:auto;
  }
  span.status {
    background-color: color($colors, primary, base)!important;
    color:white;
    padding: 4px;
  }
  .item-profissional {
    ion-thumbnail {
      min-width: 40px;
      min-height: 40px;
    }
    img {
      width: 40px;
      height: auto;
      border-radius: 100%;
    }
    span.habilidade-label {
      padding: 1px 6px;
      border-radius: 10px;
      background-color: color($colors, primary, base);
      color: color($colors, light, base);
      font-size: 0.75em;
      text-transform: uppercase;
      margin-right: 4px;
    }
  }
  .action-sheet-container {
    button.primaria {
      font-weight: 500;
      color: color($colors, primary, base);
    }
    button.dismiss {
      opacity: .7;
    }
  }
}
