<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="!reformaLoading">{{reforma.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="assets/imgs/reforma.png">
  <div padding *ngIf="!reformaLoading">
    <h3>Detalhes</h3>
    <p><ion-icon name="list"></ion-icon> <b>Descrição:</b> {{reforma.descricao}}</p>
    <p><ion-icon name="calendar"></ion-icon> <b>Data de início:</b> {{getDate(reforma.datainicio)}}</p>
    <p><ion-icon name="hammer"></ion-icon> <b>Status:</b> <span class="status"> {{ reforma.status }} </span></p>
    <p><ion-icon name="person"></ion-icon> <b> {{ profissionaisTexto }}</b></p>
    <ion-list>
      <ion-item class="item-profissional" *ngFor="let profissional of reforma.listaProfissionais">
        <ion-thumbnail item-start>
          <img src="assets/imgs/user.png">
        </ion-thumbnail>
        <h2>{{ profissional.nome }}</h2>
        <div><p><span *ngFor="let hab of profissional.habilidades" class="habilidade-label">{{ hab }}</span></p></div>
        <button ion-button clear item-end (click)="abrirModalProfissional(profissional)">Ver</button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <button ion-button full *ngIf="showButton"  (click)="reformaConcluida()"> Concluir Reforma </button>
</ion-footer>
