<!--
  Generated template for the ChatReformaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ChatReforma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngFor="let msg of msgList"
    class="message"
    [class.left]=" msg.userId === toUser.id "
    [class.right]=" msg.userId === user.id ">
      <img class="user-img" [src]="msg.userAvatar" alt="" src="">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>
    </div>

</ion-content>

<ion-footer>
  <div class="input-wrap">
    <textarea></textarea>
    <button ion-button clear icon-only item-right>
        <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-footer>
