<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nome da reforma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #messages>
  <div class="message-wrap">

    <div *ngFor="let msg of conversa?.mensagens"
        class="message"
        [class.left]=" msg.perfil == 'cliente' "
        [class.right]=" msg.perfil == 'profissional' ">
        <img class="user-img" src="assets/imgs/user.png">
        <div class="msg-detail">
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{msg.mensagem}}</p>
              <div class="msg-details">
                <div *ngIf="msg.preco > 0">
                  <ion-badge color="light" *ngIf="msg.nivelPreco == 0" (click)="aceitarPreco(msg.id, msg.perfil)">R$ {{msg.preco}}</ion-badge>
                  <ion-badge color="light" *ngIf="msg.nivelPreco == 1" (click)="aceitarPreco(msg.id, msg.perfil)">R$ {{msg.preco}} <ion-icon name="checkmark"></ion-icon></ion-badge>
                  <ion-badge color="success" *ngIf="msg.nivelPreco == 2">R$ {{msg.preco}} <ion-icon name="done-all"></ion-icon></ion-badge>
                </div>
                <span class="timeChat">{{getTime(msg.data)}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

</ion-content>

<ion-footer no-border>
  <div class="preco" *ngIf="preco > 1">
    <ion-badge color="success">R$ {{ preco }}<span (click)="removerPreco()">&times;</span></ion-badge>
  </div>
  <div class="input-wrap">
    <div class="chat-msg">
      <button ion-button clear icon-only color="success"
        (click)="mostrarInformarPreco()" [disabled]="preco > 1 || negociacao.nivelPreco == 2">
        <ion-icon name="cash"></ion-icon>
      </button>
      <textarea [(ngModel)]="mensagem" #textArea (input)="resize()" rows="1" min-height="40px" placeholder="Digite aqui"></textarea>
    </div>
    <button ion-button clear icon-only item-right color="danger" (click)="enviaMensagem()">
      <ion-icon name="send"></ion-icon>
      <span *ngIf="preco > 1" class="dolar">$</span>
    </button>
  </div>
</ion-footer>
