<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nome da reforma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="message-wrap">

    <div *ngFor="let msg of conversa?.mensagens" class="message" [class.left]=" msg.perfil === 'profissional' " [class.right]=" msg.perfil == 'cliente' ">
      <img class="user-img" src="assets/imgs/me.jpg">
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.mensagem}}</p>
          <div class="msg-details">
              <div *ngIf="msg.preco > 0" >
                <ion-badge color="light" *ngIf="negociacao.msgId != msg.id" (click)="aceitarPreco(msg.id)">R$ {{msg.preco}}</ion-badge>
                <ion-badge color="light" *ngIf="negociacao.msgId == msg.id && negociacao.nivelPreco == 1" (click)="aceitarPreco(msg.id)">R$ {{msg.preco}} <ion-icon name="checkmark"></ion-icon></ion-badge>
                <ion-badge color="success" *ngIf="negociacao.nivelPreco == 2 && negociacao.msgId == msg.id">R$ {{msg.preco}} <ion-icon name="done-all"></ion-icon></ion-badge>
              </div>
            <span class="timeChat">{{getTime(msg.data)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <button ion-button class="negociar" color="success" (click)="mostrarInformarPreco()" *ngIf="preco == 0"><ion-icon name="cash"></ion-icon></button>
  <div class="preco" *ngIf="preco > 1">
    <ion-badge color="success">R$ {{ preco }}<span (click)="removerPreco()">&times;</span></ion-badge>
  </div>
  <div class="input-wrap">
    <textarea [(ngModel)]="mensagem">
    </textarea>
    <button ion-button clear icon-only item-right (click)="enviaMensagem()">
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
  <span *ngIf="preco > 1" class="dolar">$</span>
</ion-footer>
