<ion-header>

  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!perfilLoading"  class="profile-header" >
    <img src="assets/imgs/user.png">
    <h2>{{perfil.nome}}</h2>
    <div class="links">
      <ion-grid>
        <ion-row>
          <ion-col col-6 (click)="mostrarReformasFinalizadas()">
            {{ qtdeReformas }}
            <h6>Reformas finalizadas</h6>
          </ion-col>
          <ion-col col-6 (click)="mostrarAvaliacoes()">
            <h6>Minhas<br>Avaliações</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="!perfilLoading" class="profile-body">
    <h4>CPF</h4>
    <p>{{perfil.cpf}}</p>
    <h4>Telefone</h4>
    <p>{{perfil.telefone}}</p>
    <h4>Habilidades</h4>
    <p>{{perfil.habilidades}}</p>
  </div>
</ion-content>
