<ion-header>

  <ion-navbar color="primary">
    <ion-title>Minhas reformas</ion-title>
  </ion-navbar>

  <ion-toolbar class="tabs" no-padding>
    <ion-segment [(ngModel)]="tiposReformas">
      <ion-segment-button value="minhas">
        Minhas
      </ion-segment-button>
      <ion-segment-button value="negociacao">
        Negociando
      </ion-segment-button>
      <ion-segment-button value="execucao">
        Em execução
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="tiposReformas">
    <div *ngSwitchCase="'minhas'">
      <div *ngIf="showNoneNova" id="development">
        Nenhuma reforma disponível<br><span>:(</span>
      </div>
      <ion-card *ngFor="let ref of reformaNova" class="reforma-card" tappable (click)="abrirDetalhes(ref)">
        <h1>{{ref.nome}}</h1>
        <p>{{ref.descricao}}</p>
        <ion-grid>
          <ion-row>
            <ion-col col-6><ion-icon name="calendar"></ion-icon> {{ getDate(ref.datainicio) }}</ion-col>
            <ion-col col-6>Profissionais: <ion-badge item-end>{{ref.listaProfissionais.length}}</ion-badge></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </div>

    <div *ngSwitchCase="'negociacao'" >
        <div *ngIf="showNoneNegociacao" id="development">
            Você não negociou em nenhuma reforma <br><span>:(</span>
        </div>
      <ion-card *ngFor="let ref of reformaNegociacao" class="reforma-card" tappable (click)="abrirDetalhes(ref)">
        <h1>{{ref.nome}}</h1>
        <p>{{ref.descricao}}</p>
        <ion-grid>
          <ion-row>
            <ion-col col-6><ion-icon name="calendar"></ion-icon> {{ getDate(ref.datainicio) }}</ion-col>
            <ion-col col-6>Profissionais: <ion-badge item-end>{{ref.listaProfissionais.length}}</ion-badge></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <div *ngSwitchCase="'execucao'">
        <div *ngIf="showNoneAndamento"  id="development">
          Você não está realizando nenhuma reforma<br><span>:(</span>
        </div>
      <ion-card *ngFor="let ref of reformaAndamento" class="reforma-card" tappable (click)="abrirDetalhes(ref)">
        <h1>{{ref.nome}}</h1>
        <p>{{ref.descricao}}</p>
        <ion-grid>
          <ion-row>
            <ion-col col-6><ion-icon name="calendar"></ion-icon> {{ getDate(ref.datainicio) }}</ion-col>
            <ion-col col-6>Profissionais: <ion-badge item-end>{{ref.listaProfissionais.length}}</ion-badge></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </div>

</ion-content>
