page-reformas-navigation {
  .toolbar-md.tabs {
    min-height: 43px;
    .toolbar-background-md {
      background-color: color($colors, primary, base);
    }
    .segment-md .segment-button {
      color: color($colors, light, base);
      &.segment-activated {
        border-color: color($colors, light, base);
      }
    }
  }
  ion-content {
    background-color: color($colors, light, base)!important;
  }
  .reforma-card {
    padding: 0.8em;
    background-color: white;
    border-radius: 4px;
    p{
      margin-bottom: 5px;
    }
  }
  div#development {
    width: 90%;
    position: absolute;
    top: 44%;
    text-align: center;
    font-size: 1.5em;
    opacity: .6;
    span {
      font-size: 2.5em;
    }
  }
}
