<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="!reformaLoading" >{{reforma.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="assets/imgs/reforma.png">
  <div padding *ngIf="!reformaLoading">
    <h3>Detalhes</h3>
    <p><ion-icon name="list"></ion-icon> <b>Descrição:</b> {{reforma.descricao}}</p>
    <p><ion-icon name="person"></ion-icon> <b>Solicitante:</b> {{reforma.cliente.nome}}</p>
    <p><ion-icon name="calendar"></ion-icon> <b>Data de início:</b> {{ getDate(reforma.datainicio) }}</p>
    <p><ion-icon name="hammer"></ion-icon> <b>Status:</b> <span class="status"> {{ reforma.status }} </span></p>
    <!-- <button ion-button block color="primary">Aplicar a reforma</button> -->
  </div>

</ion-content>

<ion-footer>
  <button ion-button full *ngIf="showButton"  (click)="registrarInteresse()"> Demonstrar Interesse </button>
  <button ion-button full *ngIf="!showButton"  (click)="abriChat()"> Chat </button>
</ion-footer>
