page-reforma-detalhes {
  img {
    width: 100%;
    height:auto;
  }
  span.status {
    background-color: color($colors, primary, base)!important;
    color:white;
    padding: 4px;
  }
  button.btn-chat {
    position: absolute;
    margin-top: -35px;
    right: 5%;
  }
}
