page-login {
  ion-content {
    background-color: color($colors, primary, base)!important;
    div.scroll-content {
      text-align: center;
    }
    #btn-entrar {
      margin: 1em 0;
    }
    img {
      margin: 6em 0;
    }
    div.card-login {
      padding: .1em 1em 2em .1em;
      background-color: #fff;
      border-radius: 4px;
    }
  }
}
