<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only clear (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Reformas concluidas
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="showNone" id="development">
    Nenhuma reforma concluida<br><span>:(</span>
  </div>
  <ion-card *ngFor="let ref of reformasConcluida" class="reforma-card" tappable (click)="abrirDetalhes(ref)">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h1>{{ref.nome}}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-icon name="calendar"></ion-icon> {{ getDate(ref.datainicio) }}</ion-col>
      </ion-row>
    </ion-grid>
    <p>{{ref.descricao}}</p>
  </ion-card>
</ion-content>
